<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conócenos</title>
    <link rel="icon" href="../static/images/pizza-italiana.png" type="image/png">
    <link rel="stylesheet" href="../static/presentacion.css" >

</head>
<body>
    <h1 class="title">Somos un Grupo de Programadores Iniciales</h1>
    <p class="paragraph">En nuestro grupo, nos encontramos en una emocionante fase de descubrimiento y aprendizaje en el vasto mundo de la programación. Somos programadores iniciales, apasionados por la tecnología y comprometidos con el proceso de aprender, innovar y colaborar.
    Cada uno de nosotros trae una perspectiva única y diversa, lo que enriquece nuestro enfoque colectivo hacia la resolución de problemas. A pesar de nuestras diferencias, compartimos una meta común: convertirnos en desarrolladores competentes y creativos que pueden contribuir significativamente a la evolución tecnológica.</p>
    <div class="develop">
        <a class="develop" href=""><ol>Felicitas Sosa</ol></a>
        <a class="develop" href=""><ol>Franco Orozco</ol></a>
        <a class="develop" href=""><ol>Leandro Morresi</ol></a>
        <a class="develop" href=""><ol>Nicolas Morresi</ol></a>
    </div>
</body>
</html>